@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.bird {
  background: linear-gradient(90deg, orange 0%, blue 50%, black 100%);
}

Link:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.rating input {
  @apply hover:scale-110;
  
}
